.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/u/82592359/seattle_bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  font-family: 'Shift', sans-serif;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.jumbotron .nav_box {
  position: relative;
  top:200px;
}

.jumbotron h1 {
  font-size: 4em;
  font-weight: bold;

}
.jumbotron h2 {
  font-size: 3em;
  font-weight: bold;

}.jumbotron h3 {
  font-size: 2em;

}
.jumbotron p {
  font-size: 1.5em;
}

.jumbotron a {
  font-size: 1.5em;
  color: #5cb4ff;
  text-shadow: 2px 2px #000aff;
}
