.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/u/82592359/seattle_bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.jumbotron .container {
  position: relative;
  top:200px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
.jumbotron h2 {
  color: #fff;
  font-size: 3em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #000;

}.jumbotron h3 {
  color: #fff;
  font-size: 2em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
.jumbotron p {
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.jumbotron a {
  font-size: 1em;
  color: #5cb4ff;
  text-shadow: 2px 2px #000;
}
