body {
  background-color:#0C0C08;
  font-family: 'Shift', sans-serif;
  text-shadow: 0.5px 0.5px #000;
}

.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/u/82592359/seattle_bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #90B0B0;
  background-blend-mode: multiply;
  height: 800px;
}

.jumbotron .container {
  position: relative;
  top:200px;
}

#portfolio {
  position: relative;
  top:20px;
}
.jumbotron h1 {
  color: #fff;
  font-size: 4em;
  font-weight: bold;

}
.jumbotron h2 {
  color: #fff;
  font-size: 3em;
  font-weight: bold;

}.jumbotron h3 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}
.jumbotron p {
  font-size: 1.5em;
  color: #fff;
}

.jumbotron a {
  font-size: 1em;
  color: #5cb4ff;
}

.portfolio_description {
  max-width: 65%;
  font-size: 1.2em;
  color: #fff;
}

.portfolio_description a {
  font-size: 1.25em;
  font-weight: bold;
  color: #5cb4ff;
}

#nav_com {
  padding: 20px;
  width: fit-content;
}

.round-img img {
  border: 0px transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
 }