.jumbotron {
  background-image: 'img/Seattle_Pano_Web.jpg';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.jumbotron .container {
  position: relative;
  top:200px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.jumbotron h2 {
  color: #fff;
  font-size: 3em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;

}.jumbotron h3 {
  color: #fff;
  font-size: 2em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.jumbotron p {
  font-size: 1.5em;
  color: #fff;
}

.jumbotron a {
    font-size: 1em;
    color: deeppink;
}
